/*================布局.开始===================*/
.header { z-index: 999; width: 100%; height: 60px; position: absolute; top: 0; left: 0; background: url(opacity_50.png); text-align: center; height: 80px; display: inline-block; }
.header .menu { width: 900px; margin: 0 auto; }
.header .menu .logo { margin: 5px 25px; }
.header .menu .nav:first-child { margin-left: 80px; }
.header .menu .nav li { float: left; text-align: center; line-height: 80px; font-size: 16px; padding: 0 15px; }
.header .menu .nav li a { color: #333333; text-decoration: none; }
.header .menu .nav li a:hover { color: #86a971; }
.header .menu .nav li.active { }
.header .menu .nav li.active a { color: #4b8a26; text-decoration: none; }
.header .menu .nav li.active a:hover { color: #333333; }
.header .login_place { text-align: center; position: absolute; right: 80px; line-height: 13px; top: 2px; }
.header .login_place a { text-decoration: none; color: #e96e12; width: 55px; border: 1px solid #666; padding: 5px 7px; color: #666; margin: 25px auto;*margin: 25px 0; display: block; font-size:14px;}
.header .login_place a:hover { text-decoration: underline; font-size:14px;}
.container { padding: 0; width: 100%; margin: 0 auto; zoom: 1; _zoom: 1; }
.footer { color: #5d5d5d; border-top: 1px #e7e7e7 solid; min-width: 100%; background: #fff; }
.footer .footer-group { width: 1000px; margin: 15px auto 15px; border-bottom: 1px solid #dbdbdb; }
.footer .footer-group:after { visibility: hidden; display: block; font-size: 0; content: ""; clear: both; height: 0; }
.footer .footer-group .footer-logo { margin-top: 5px; }
.footer .footer-group .footer-links { }


.footer .footer-group .footer-links ul { float: left; width: 140px; margin-bottom: 15px; }
.footer .footer-group .footer-links ul:first-child { margin-left: 35px; }
.footer .footer-group .footer-links ul li { display: block; line-height: 26px; text-align: left; }
.footer .footer-group .footer-links ul li:first-child { font-size: 15px; font-weight: bold; border-bottom: 1px solid #dbdbdb; width: 70px; margin-bottom: 5px; }
.footer .footer-group .footer-links ul li a { color: #5d5d5d; text-decoration: none; }
.footer .footer-group .footer-links ul li a:hover { text-decoration: underline; }
.footer .footer-group .footer-wx { width: 240px; float: right; border-left: 1px solid #ccc; }
.footer .footer-group .footer-wx span { display: block; padding-left: 35px; line-height: 26px; }

.footer .footer-rigts { width: 1000px; margin: 15px auto 0px; }
.footer .footer-rigts span { display: block; font-size: 13px; text-align: left; line-height: 33px; }
/*================布局.结束===================*/
.onepage-wrapper { width: 100%; height: 100%; display: block; position: relative; padding: 0; -webkit-transform-style: preserve-3d; }
.onepage-wrapper .section { width: 100%; height: 100%; }
.onepage-box { z-index: 10; text-align: center; color: #fff; font-size: 18px; position: absolute; height: 100px; right: 30px; top: 40%; }
.onepage-pagination { text-align: center; list-style-type: none; }
.onepage-pagination li { text-align: center; display: block; }
.onepage-pagination li a { font-size: 28px; font-family: arial; color: #fff; padding: 5px 10px; }
.onepage-pagination li a:hover { text-decoration: none; color: #9c0; }
.onepage-pagination li a.active { text-decoration: none; color: #9c0; }
.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper { overflow: auto; }
.disabled-onepage-scroll .onepage-wrapper .section { position: relative !important; top: auto !important; left: auto !important; }
.disabled-onepage-scroll .onepage-wrapper { -webkit-transform: none !important; -moz-transform: none !important; transform: none !important; -ms-transform: none !important; min-height: 100%; }
.disabled-onepage-scroll .onepage-pagination { display: none; }
/*body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html { position: inherit; }*/
