@charset "utf-8";

html, body {
    margin: 0px;
}

html, body, span, div, p, a, table, tbody, td, h1, h2, h3, h4, h5, h6, img, form, font, strong, b, i, dl, dt, dd, ol, ul, li, dl, dd, dt, iframe, label, blockquote, input, button {
    padding: 0;
    margin: 0;
    list-style: none;
}

html {
    overflow-x: hidden;
}

body {
    font-size: 12px;
    font-family: arial,"Microsoft YaHei","微软雅黑","宋体";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.fixed {
    position: fixed;
}

a, a:hover, a:link, a:active, a:visited {
    color: #85A773;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

    a:active {
        text-decoration: none;
    }

ul, ol {
    list-style: none;
    list-style-position: outside;
}

img {
    border: 0;
}

input, button {
    overflow: visible;
}

    button, input[type="button"], input[type="submit"], .ipt-btn {
        cursor: pointer;
    }

select {
    border-width: 1px;
    border-left-color: #e2e3ea;
    border-top-color: #abadb3;
    border-right-color: #dbdfe6;
    border-bottom-color: #e3e9ef;
    border-radius: 3px;
}

.block {
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hide {
    display: none;
}

.mrgt10 {
    margin-top: 10px;
    clear: both;
}

.mrgt30 {
    margin-top: 10px;
    clear: both;
}

.tcenter {
    text-align: center;
}

.tleft {
    text-align: left;
}

.tright {
    text-align: right;
}

.pdl10 {
    padding-left: 10px !important;
}

.pdl20 {
    padding-left: 20px !important;
}

.pdl30 {
    padding-left: 30px !important;
}

.pdr20 {
    padding-right: 20px !important;
}

.pdl90 {
    padding-left: 90px !important;
}

.pdt10 {
    padding-top: 10px !important;
}

.pdt30 {
    padding-top: 30px !important;
}

.pdb10 {
    padding-bottom: 10px !important;
}

.pdb20 {
    padding-bottom: 20px !important;
}

.mrgt20 {
    margin-top: 20px;
    clear: both;
}

.mrgl0 {
    margin-left: 10px;
}

.mrg20 {
    margin-left: 20px;
}

.mrgl30 {
    margin-left: 30px;
}

.mrgl60 {
    margin-left: 60px;
}

.mrgl80 {
    margin-left: 80px;
}

.mrgl60 {
    margin-left: 60px;
}

.mrgb10 {
    margin-bottom: 10px;
}

.lineh0 {
    line-height: 0px !important;
}

.h33 {
    height: 33px;
}

.c_orange {
    color: #ec6923;
}

.c_oranged {
    color: #f75b08;
}

.c_white {
    color: white;
}

.c_black {
    color: black;
}

.c_brown {
    color: brown;
}

.c_gray {
    color: gray;
}

.lineh90 {
    line-height: 90px !important;
}

.lineh33 {
    line-height: 33px !important;
}

.img80 {
    width: 80px;
    height: 80px;
}

.w200 {
    width: 200px;
}

.w15 {
    width: 15%;
}

.w20 {
    width: 20%;
}

.w24 {
    width: 24%;
}

.w25 {
    width: 25%;
}

.w30 {
    width: 30%;
}

.w100 {
    width: 100% !important;
}

.wth100 {
    width: 100px;
}

.wth60 {
    width: 60px;
}

.font22 {
    font-size: 22px !important;
}

.font18 {
    font-size: 18px !important;
}

.font14 {
    font-size: 14px !important;
}

.fontbold {
    font-weight: bold;
}

.lineh22 {
    line-height: 22px !important;
}

.fitalic {
    font-style: italic;
}

.fthrough {
    text-decoration: line-through;
}

.none_event {
    pointer-events: none;
}

.input {
    padding: 0px;
    padding-left: 5px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #d4d4d4;
    background: #fff;
    color: #333;
    font-size: 100%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

    .input.normal {
        width: 200px;
    }

    .input.small {
        width: 50px;
    }

    .input.long {
        width: 500px;
    }

    .input:focus {
        background: #FFFBDE;
        border-color: #86a971;
        border-radius: 3px;
        outline: none;
    }

    .input.readonly {
        background: #FFFBDE;
    }

    .input.disabled {
        background: #FFFBDE;
    }

.btn {
    height: 33px;
    border: 1px solid #d4d4d4;
    background: #fff;
    color: #333;
    min-width: 80px;
    border: none;
    color: #fff;
    font-size: 13px;
    padding: 0 10px;
}

    .btn.orange {
        background: #F75B08;
    }

        .btn.orange:hover {
            background: #f75b08;
        }

        .btn.orange:focus {
            outline: 1px solid #ff5900;
        }

    .btn.normal {
        background: #75A657;
    }

        .btn.normal:hover {
            background: #75a657;
        }

        .btn.normal:focus {
            outline: 1px solid #6f9458;
        }

    .btn.disabled {
        background: #a6a6a6;
        pointer-events: none;
    }

        .btn.disabled:focus {
            outline: 1px solid #888686;
        }

    .btn.b_black {
        background: #fff;
        color: #000;
        border: 1px solid #000;
    }

    .btn.b_normal {
        background: #fff;
        color: #86a971;
        border: 1px solid #86a971;
    }

.clear {
    clear: both;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}
/*--清除的浮动--*/
.header:after, .footer:after, .container:after, mrgt10:after, mrgt20:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

.loadground {
    background: #000;
    width: 100%;
    position: absolute;
    z-index: 8888;
    top: 0;
}

.page_load {
    position: absolute;
    left: 43%;
    top: 40%; /*background: url(../images/loading-bg.png) no-repeat 50% 50%;*/
    width: 159px;
    color: #999;
    font-size: 18px;
    height: 40px;
    font-weight: 300;
    padding-top: 14px;
    z-index: 9999;
}

#wallpapers {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
